BasedOnStyle: LLVM
ColumnLimit: 0
UseTab: Always
IndentWidth: 4
TabWidth: 4
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AlignOperands: false
BreakBeforeTernaryOperators: false
BinPackArguments: false
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: All